<div class="flex flex-col items-center justify-center min-h-screen w-screen">
  <h1 class="text-9xl font-extrabold mb-4 mx-2 text-center">404</h1>
  <p class="text-3xl text-center">Page not found</p>
</div>
