<div class="container mx-auto p-5">
  <div class="flex flex-col w-full">
    <% blogs.forEach(blog => { %>
      <div class="w-full mx-auto my-2">
        <a href="/blog/<%= blog._id %>">
          <div class="flex-col p-3 card lg:card-side bg-base-200 shadow-md">
            <figure class="mx-5">
              <img src="/img/TuxSanctuary_logo.svg" alt="Blog Image" />
            </figure>
            <div class="py-3 card-body">
              <h2 class="card-title"><%= blog.title %></h2>
              <p><%= blog.content.substring(0, 100) %>...</p>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>